<div class="col-md-6">
  <div class="well">
    <img src="<%= user.image_url %>" alt="profile image" class="pull-left mr-3">
    <dl class="user-info">
      <dt>Name</dt>
      <dd><%= user.first_name + ' ' + user.last_name %></dd>
    </dl>
    <%= link_to 'View profile', user_path(user) %>
  </div>
</div>
