<h1 class="text-center mb-3"><%= @title %></h1>
<div class="row">
  <%= render partial: @partial, collection: @first_half + @second_half %>
</div>
<div align="center">
  <%= will_paginate @users %>
</div>
