<h1 class="text-center mb-3"><%= @post.title %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Written by <strong><%= @post.author.first_name + ' ' + @post.author.last_name %></strong> on <strong><%= @post.created_at.to_time.to_s %></strong></p>
    <p><%= simple_format(@post.content) %></p>
  </div>
</div>
